{% load static %}

<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>

          <p>
              Daniel Sumah is an adventurous 400L Student of
              Mechanical Engineering in the University of Lagos , Akoka.
              <br/><br/>
            Even while he is in school, he has been able to gather
              Leadership and Administrative experiences outside school
              as he is the Digital Marketing Lead of 3SMART TECHNOLOGIES
              a renewable energy company, the Team Lead of GemMine a platform
              for training students in the fundamentals of digital skills and
              also the former Product Manager of Perxels, a frontline UIUX
              training School in Nigeria.

            <br/><br/>
            Daniel has strong interests in Digital Marketing, Software Development,
            Product Management and Additive manufacturing, he is an active learner
            who has passion for overseeing the mental and technical growth of young people.
            He measures himself by the amount of impact he can have on young People.
          </p>

        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'resume/img/daniel.png' %}" alt="" style="width:100%">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Product Manager &amp; Web Developer.</h3>
            <p class="fst-italic">
              I am actively preparing for a product management career through real-life product creation while being
              mentored by successful product managers.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>August 20</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.danielsumah.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+234 806 1174 247</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lagos, Nigeria</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
<!--                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>-->
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Undergraduate (in-view)</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>School Email:</strong> <span>170404517@live.students.unilag.edu.ng</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
<!--            <p>-->
<!--              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.-->
<!--              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.-->
<!--            </p>-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
