    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>


        <div class="row">
<!--          <div class="col-lg-6">-->
<!--            <h3 class="resume-title">Summary</h3>-->
<!--            <div class="resume-item pb-0">-->
<!--              <h4>Brandon Johnson</h4>-->
<!--              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>-->
<!--              <ul>-->
<!--                <li>Portland par 127,Orlando, FL</li>-->
<!--                <li>(123) 456-7891</li>-->
<!--                <li>alice.barkley@example.com</li>-->
<!--              </ul>-->
<!--            </div>-->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BSc - Mechanical Engineering.</h4>
              <h5>2017 - present</h5>
              <p><em>The University of Lagos ,Akoka, Nigeria</em></p>
<!--              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>-->
            </div>
            <div class="resume-item">
              <h4>OND - Mechanical Engineering.</h4>
              <h5>2014 - 2016</h5>
              <p><em>Yaba College of Technology, Yaba, Lagos.</em></p>
<!--              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>-->
            </div>
          <div class="resume-item">
              <h4>Diploma in CAD - Mechanical Engineering.</h4>
              <h5>2018</h5>
              <p><em>CADD CENTRE - Lagos.</em></p>
<!--              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>-->
            </div>
          <div class="resume-item">
              <h4>SSCE - Sciences</h4>
              <h5>2008 - 2014</h5>
              <p><em>Logem International College, Ota.</em></p>
<!--              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>-->
            </div>
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>

            <div class="resume-item">
              <h4>BD / Digital Marketing Manager</h4>
              <h5>Aug 2020 - Present</h5>
              <p><em>3smart Technologies, Lagos, Nigeria </em></p>
              <ul>
                <li>Creating and ensuring Implementation of strategies to achieve financial growth and to expand business reach with a concentration on locally produced Automatic Transfer Switches.</li>
                <li>Planning, tracking and testing of the training of the Marketing Team Members to ensure that their Skills are at par with their responsibilities.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Product Manager</h4>
              <h5>Jul 2020 - Jan 2021</h5>
              <p><em>Perxels, Lagos, Nigeria</em></p>
              <ul>
                <li>Worked closely with Engineering and Mangement to ensure Products are built to meet revenue goals.</li>
                <li>Served as Administrator for the Management of Students for each Cohort.</li>
                <li>Sourcing and testing of tools that makes the Team's work flow swimmingly.</li>
                <li>Creating and execution of Digital Marketing Campaigns.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Engineering Design Intern.</h4>
              <h5>Mar 2020 - Nov 2020</h5>
              <p><em>Nigerian Foundries Group, Ogun, Nigeria.</em></p>
              <ul>
                <li>3D Modelling and Testing of Designs of New Products using Fusion360.</li>
                <li>Industrial use of Additive Manufacturing in Foundry Technology.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Digital Marketer.</h4>
              <h5>March 2019 - Aug 2020</h5>
              <p><em>3smart Technologies, Lagos, Nigeria</em></p>
              <ul>
                <li>Plan and manage the Company’s Social Media Presence.</li>
                <li>Create Social Media Contents.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Team Lead - Digital Marketing</h4>
              <h5>2018 - 2019</h5>
              <p><em>AIESEC in Isfop, Benin Republic</em></p>
              <ul>
                <li>Ensuring publications meet AIESEC branding rules.</li>
                <li>Designing of campaign flyers</li>
                <li>Management of three team members.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Industrial Trainee</h4>
              <h5>Mar 2017 - Mar 2019</h5>
              <p><em>3Smart Technologies, Lagos, Nigeria.</em></p>
              <ul>
                <li>Production of Automatic Transfer Switches for Generators.</li>
                <li>Installation of BackUp/Reneable Energy Systems.</li>
                <li>Digital Marketing.</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
